@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="author" content="Tofan Petru">
    <meta name="descriere" content="BEST Hackathon: Codiseea, ediție  de hackathon organizată de BEST Chișinău. În cadrul evenimentului, echipe a câte 4 participanți vor lucra asupra mai multor sarcini din diferite domenii/ rezolvare de probleme, programare web, securitate informațională și altele. Formatul evenimentului va fi  în stil ”Capture the Flag”, unde este necesară  realizarea sarcinii actuale pentru a putea trece la următoarea, care are un grad mai înalt de dificultate.">

    <meta property="og:site_name" content="BEST Hackathon: Codiseea" /> <!-- website name -->
    <meta property="og:site" content="O sa editez" /> <!-- website link?? -->
    <meta property="og:title" content="BEST Hackathon: Codiseea" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="BEST Hackathon: Codiseea, ediție  de hackathon organizată de BEST Chișinău. În cadrul evenimentului, echipe a câte 4 participanți vor lucra asupra mai multor sarcini din diferite domenii/ rezolvare de probleme, programare web, securitate informațională și altele." /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="https://i.imgur.com/hE1QckR.jpg" /> <!-- image link jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Webpage Title -->
    <title>BEST Hackathon: Codiseea</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="~/landing_page/css/bootstrap.css" rel="stylesheet">
    <link href="~/landing_page/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/landing_page/css/swiper.css" rel="stylesheet">
    <link href="~/landing_page/css/magnific-popup.css" rel="stylesheet">
    <link href="~/landing_page/css/styles.css" rel="stylesheet">
    <link rel='stylesheet' href='https://npmcdn.com/flickity@1.2/dist/flickity.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="/landing_page/css/style_parteners.css" rel="stylesheet" />
    <!-- Favicon  title -->
    <link rel="icon" href="~/landing_page/images/favicon.png">

</head>
<body data-spy="scroll" data-target=".fixed-top" oncopy="return false;" oncut="return false;" onpaste="return false;" oncontextmenu="return false;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <!-- Progres bar -->
        <div class="headers_progresbar fixed-top ">
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </div>
        <div class="container">

            <!-- Text logo -->
            <a class="navbar-brand logo-text page-scroll" style="font-size:1.56rem;" href="#">BEST Hackathon: Codiseea</a>
            <!-- Image Logo
            <a class="navbar-brand logo-image" href="index.html"><img src="~/landing_page/images/logo.svg" alt="alternative"></a>
            -->
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#Team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#Preview">Preview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#carousel_1z">Photos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item page-scroll" href="https://best.utm.md/">BEST Chisinau</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item page-scroll" href="https://best.utm.md/events/">Other events</a>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a class="btn-aplica-detalii" href="https://best.utm.md/formular-codiseea/"><medium>Aplica</medium></a>
                    </li>
                </ul>

            </div> <!-- sf navbar-collapse -->
        </div> <!-- sf container -->
    </nav> <!-- sf navbar -->
    <!-- sf navigation -->
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1>
                            BEST Hackathon : Codiseea<br>
                            <a class="btn-aplica" href="https://best.utm.md/formular-codiseea/"><medium>Aplica</medium></a>
                            <br />
                            <small>Încearcă-ţi cunoştinţele în <span id="js-rotating">programare web, rezolvare de probleme,logica,scripting</span></small>
                        </h1>
                    </div> <!-- sf text-container -->
                </div> <!-- sf coloanei -->
                <!--IMG head right-->
                <div class="col-lg-6 div-img_jos">
                    <img class="img-fluid" src="~/landing_page/images/poza-principala-1.png" alt="alternative">
                </div> <!-- sf coloanei -->
            </div> <!-- sf liniei -->
        </div> <!-- sf container -->
    </header> <!-- sf header -->
    <!-- sf header -->
    <!-- Testimonials -->
    <div class="slider-1 bg-dark-blue" id="Team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-1.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text"></p> -->
                                            <p class="testimonial-author">Baramb Eusebiu - Designer responsible</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-2.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text">Profesionalism, gândire abstractă şi pasiune pentru it, acestea sunt calităţile care mă descriu. Am colaborat cu echipa mea, şi cred ca o sa fie cel mai fain Hackathon ! </p> -->
                                            <p class="testimonial-author">Tofan Petru - Topics responsible</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-3.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text">Iubesc când oameni își exprimă părerile, ideeile și viziunile. Cineva scrie romane, altcineva face sport de performanță, iar pentru cei din IT sunt hackathoanele.</p> -->
                                            <p class="testimonial-author">Felix Birca - MO</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-4.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text"></p> -->
                                            <p class="testimonial-author">Stefaniuc Nicu - HR</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-5.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text"></p> -->
                                            <p class="testimonial-author">Rogojina Andrei - Logistics</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-7.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text"></p> -->
                                            <p class="testimonial-author">Creciunel Catalin - Marketing</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/landing_page/images/testimonial-6.jpg" alt="alternative">
                                        <div class="card-body">
                                            <!--<p class="testimonial-text"></p> -->
                                            <p class="testimonial-author">Rotari Augustina - CR</p>
                                        </div>
                                    </div>
                                </div> <!-- sf swiper-slide -->
                                <!-- sf slide -->

                            </div> <!-- sf swiper-wrapper -->
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- sf add arrows -->

                        </div> <!-- sf swiper-container -->
                    </div> <!-- sf slider-container -->
                    <!-- sf card slider -->

                </div> <!-- sf coloanei -->
            </div> <!-- sf liniei -->
        </div> <!-- sf container -->
    </div> <!-- sf slider-1 -->
    <!-- sf testimonials -->
    <!-- Video -->
    <div class="basic-1" id="Preview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">PREVIEW</h2>
                    <div class="p-heading">Este timpul sa stii cine suntem noi, si ce presupune hackathon-ul de anul acesta</div>
                </div> <!-- sf coloanei -->
            </div> <!-- sf liniei -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=XFphgBg8-tI&feature=youtu.be&fbclid=IwAR3rJAz4CSiSlA4SUaWI22560ZU2wQWIZBJDn1PkjiKtWV9TsIkLyXGrwdY&ab_channel=FelixBirca" data-effect="fadeIn">
                                <img class="img-fluid" src="~/landing_page/images/video-frame.jpg" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- sf video-wrapper -->
                    </div> <!-- sf image-container -->
                    <!-- sf video preview -->

                </div> <!-- sf coloanei -->
            </div> <!-- sf liniei -->
        </div> <!-- sf container -->
    </div> <!-- sf basic-1 -->
    <!-- sf video -->

    <!-- Poze parteneri -->
    <div class="slider-1 bg-dark-blue" id="parteneriat">
      
            <h1 class="parteneri">Partenerii acestui eveniment</h1>
            <div class="brands-wrap">
                <div class="brand-carousel" id="brandCarousel">
                    <div class="gallery-cell"><img src="/landing_page/partener_images/best_logo.png" /></div>
                    <div class="gallery-cell"><img src="/landing_page/partener_images/q_systems_transparent.png" /></div>
                    <div class="gallery-cell"><img src="/landing_page/partener_images/utm-logo.png" /></div>
                </div>
            </div>

    </div> <!-- sf slider-1 -->
    <!-- sf poze parteneri -->

    <!--Inceput poze editii anterioare-->
    <div class="basic-1">
        <div class="slider-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Poze de la ediţiile anterioare</h2>
                        <hr class="hr-heading">
                    </div> <!-- sf coloanei -->
                </div> <!-- sf liniei -->
                <div class="row">
                    <div class="col-lg-12">

                        <!--Carousel Wrapper-->
                        <div id="carousel_1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel_1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_1z" data-slide-to="1"></li>
                                <li data-target="#carousel_1z" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--1 slide-->
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="~/landing_page/images/slide-1.png" alt="1">
                                </div>
                                <!--/1 slide-->
                                <!--2 slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/landing_page/images/slide-2.png" alt="2">
                                </div>
                                <!--/2 slide-->
                                <!--3 slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/landing_page/images/slide-3.png" alt="3">
                                </div>
                                <!--/3 slide-->
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel_1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel_1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div> <!-- sf coloanei -->
                </div> <!-- sf liniei -->
            </div> <!-- sf container -->
        </div> <!-- sf slider-2 -->
        <!-- sf screenshots -->
    </div> <!-- End de la pozele anterioare-->
    <!-- Footer -->
    <div class="footer bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h4>About Hackathon: Codiseea</h4>
                        <p class="p-small">
                            La data de 5-6 Decembrie va avea loc un alt Hackathon marca BEST, intitulat Codiseea, la care tineri programatori își vor dezvolta gândirea strategică.
                        </p>
                    </div> <!-- sf footer-col -->
                    <div class="footer-col second">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li><a href="#">Home</a></li>
                            <li><a href="#Team">Team</a></li>
                            <li><a href="#Preview">Preview</a></li>
                            <li><a href="#carousel_1z">Photos</a></li>
                            <li><a href="https://best.utm.md/formular-codiseea/">Mai multe detalii</a></li>
                        </ul>
                    </div> <!-- sf footer-col -->
                    <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/BEST.Chisinau">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://twitter.com/best_chisinau">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/best_chisinau/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <!--<p class="p-small">Suntem deschisi pentru feedback sau colaborări: <a href="mailto:tofan.petru@iis.utm.md"><strong>tofan.petru@iis.utm.md</strong></a></p>-->
                        <p class="p-small"><a href="https://best.utm.md/">BEST Chisinau 2020</a></p>
                    </div> <!-- sf footer-col -->
                </div> <!-- sf coloanei -->
            </div> <!-- sf liniei -->
        </div> <!-- sf container -->
    </div> <!-- sf footer -->
    <!-- sf footer -->
    <!-- Copyright -->
    <div class="copyright bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright <a href="https://www.facebook.com/AxPetru">Tofan Petru </a><a href="https://best.utm.md/">| Best Chisinau 2020</a></p>
                </div> <!-- sf coloanei -->
            </div> <!-- enf of row -->
        </div> <!-- sf container -->
    </div> <!-- sf copyright -->
    <!-- sf copyright -->

    <script src="_framework/blazor.server.js"></script>

    <script src='https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js'></script>
    <script src="/landing_page/js/script_slider.js"></script>

    <!-- Scripturile site-ului panel -->
    <script src="~/landing_page/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/landing_page/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/landing_page/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/landing_page/js/swiper.min.js"></script> <!-- Schimbatorul pentru slide-ul de imagine si text -->
    <script src="~/landing_page/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/landing_page/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="~/landing_page/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/landing_page/js/scripts.js"></script> <!-- Scripturi personale -->
</body>
</html>
