@page "/stageone"
@using Best_Hackathon_Codiseea.Models;
@using Best_Hackathon_Codiseea.Data;
@using Microsoft.AspNetCore.Http
@inject TeamTaskService teamTaskService
@attribute [Authorize]

<h3>Sarcina bonus</h3>
<h6>
    Avem o sarcina bonus, ea constă în publicarea unei postări pe reţelele de socilzare, în care veţi arăta cât de asiduu munciţi şi veţi eticheta pagina de 
</h6>
<h6>

</h6>

<br />
@code {

}
