@page "/panel"

<div class="">
    <h3 class="container text-center">Welcome to Odisee Hackathon</h3>
    <br />
    <AuthorizeView>
        <Authorized>
            <!--
    <h5>- Here you can see your progres -</h5>
    <br />
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 0" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 0" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
        -->
            <p>Salutări și bine ați ați venit la acest <strong>BEST Hackathon: Codiseea!</strong> Această secțiune reprezintă un scurt ghid pentru evenimentul ce va urma și ce etape trebuie îndeplinite. </p>
            <br />
            <p>
                <strong>Soluţiile pe github:</strong><br />
                La acest hackathon veți avea de a face cu mai multe probleme. Veți primi câte o problemă și cu cât mai departe ajungeți cu atât sarcinile vor deveni mai complexe. Pentru a putea urmări progresul echipelor și în final să determinăm câștigătorul, fiecare echipă va crea un repozitoriu privat pe github( poate fi gestionat de un singur membru al echipei). După creare se vor respecta următoarele reguli pentru aranjarea soluțiilor: <br />
                1. Petru fiecare sarcină se va crea o mapă separată în mapa repozitoriului, în care va fi adăugat codul sursă utilizat la rezolvarea problemei. Imaginile și alte fișiere extra din sarcină nu trebuie adăugate. <br />
                2. Pe tot parcursul evenimentului repozitoriul va fi privat pentru ca alte echipe să nu vadă soluțiile străine. La finalul evenimentului repozitoriul va fi făcut public și organizatorilor le va fi trimis un link la acesta pentru verificare și apreciere. <br />
                3. Commiturile pot fi făcute local și sincronizate abia la sfârșitul evenimentului.
            </p>
        </Authorized>
        <NotAuthorized>
            <p>Please log in to access the site content</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    
}



